---
import { Image } from "astro:assets";
import Title from "../../../components/title.astro";
import Container from "../../../components/container.astro";
import slide2Img from "./assets/story-2.webp";
import slide5Img from "./assets/story-5.webp";
import slide6Img from "./assets/story-6.webp";
import slide8Img from "./assets/story-8.webp";
import slide9Img from "./assets/story-9.webp";
import slide11Img from "./assets/story-11.webp";
import slide12Img from "./assets/story-12.webp";
import { getVideoSrc } from "../../../utils/getVideoSrc.ts";

interface ISlide {
  title?: string;
}
interface ISlideImage extends ISlide {
  src: ImageMetadata;
}
interface ISlideVideo extends ISlide {
  src: string;
  poster?: string;
}

const checkIsVideo = (item: ISlideImage | ISlideVideo): item is ISlideVideo => {
  return typeof item.src === "string";
};

const slides: (ISlideImage | ISlideVideo)[] = [
  {
    title: "8 марта",
    src: getVideoSrc("story-1"),
  },
  {
    title: "14 февраля",
    src: slide2Img,
  },
  {
    title: "Drop Store Запуск магазина мерча бизнес-группы",
    src: getVideoSrc("story-3"),
  },
  {
    title: "ВК Фест 2025",
    src: getVideoSrc("story-4"),
  },
  {
    title: "Афтепати ВК Фест 2025",
    src: slide5Img,
  },
  {
    title: "Гаражная распродажа Дзен",
    src: slide6Img,
  },
  {
    title: "День рождение Музыки",
    src: getVideoSrc("story-7"),
  },
  {
    title: "День рождение Одноклассников",
    src: slide8Img,
  },
  {
    title: "Новый год 2026",
    src: slide9Img,
  },
  {
    title: "Новый год Дзен",
    src: getVideoSrc("story-10"),
  },
  {
    title: "Привет, босс",
    src: slide11Img,
  },
  {
    title: "Привет, команда",
    src: slide12Img,
  },
  {
    title: "Что? Где? Когда?",
    src: getVideoSrc("story-12_5"),
  },
  {
    title: "ИТ неделя",
    src: getVideoSrc("story-13"),
  },
  {
    title: "Фандом фест",
    src: getVideoSrc("story-14"),
  },
  {
    title: "Благотворительная ярмарка",
    src: getVideoSrc("story-15"),
  },
  {
    title: "День рождения ВКонтакте",
    src: getVideoSrc("story-16"),
  },
  {
    title: "Книжный клуб",
    src: getVideoSrc("story-17"),
  },
  {
    title: "Пятничная встреча",
    src: getVideoSrc("story-18"),
  },
];
---

<section class="more-than" aria-labelledby="more-than-title">
  <Container>
    <div class="more-than__head">
      <Title title="h3" id="more-than-title">
        <span class="more-than__title">
          Команда&nbsp;— это&nbsp;больше, чем&nbsp;про&nbsp;работу
        </span>
      </Title>
      <p class="more-than__description">
        Праздники, тимбилдинги, события и даже хобби — нас объединяют не только
        общие задачи
      </p>
    </div>

    <div class="more-than__body" data-reveal>
      <div class="swiper js-more-than-swiper">
        <div class="more-than__pagination">
          {
            slides.map((_, index) => (
              <button
                type="button"
                class:list={[index === 0 && "active"]}
                data-index={index}
                aria-label={`Показать историю ${index + 1}`}
              >
                <span>{index}</span>
              </button>
            ))
          }
        </div>

        <div class="swiper-wrapper">
          {
            slides.map((item) => {
              const isVideo = checkIsVideo(item);

              return (
                <div
                  class="swiper-slide"
                  data-media={isVideo ? "video" : "image"}
                >
                  <div class="more-than__slide">
                    <div class="more-than__slide-content">
                      {isVideo ? (
                        <div class="more-than__slide-video">
                          <video
                            src={item.src}
                            poster={item.poster}
                            title={item?.title}
                            preload="metadata"
                          />
                        </div>
                      ) : (
                        <div class="more-than__slide-image">
                          <Image src={item.src} alt={item?.title ?? ""} />
                        </div>
                      )}

                      <div class="more-than__slide-title">
                        {item?.title && <p>{item.title}</p>}
                      </div>
                    </div>
                  </div>
                </div>
              );
            })
          }
        </div>
      </div>
    </div>
  </Container>
</section>

<style>
  .more-than {
    position: relative;
    margin-top: var(--space24);
    overflow: hidden;

    @media (width >= 960px) {
      margin-top: calc(-1 * var(--space32));
    }

    /* widescreen */
    @media (width >= 1200px) {
      margin-top: 0;
    }

    & .more-than__head {
      max-width: 820px;

      @media (width >= 960px) {
        max-width: 900px;
      }
    }

    & .more-than__title {
      letter-spacing: -0.5px;

      @media (width >= 960px) {
        letter-spacing: -1.5px;
      }

      /* widescreen */
      @media (width >= 1200px) {
        letter-spacing: 0;
      }
    }

    & .more-than__description {
      margin-top: var(--space20);
      font-family: var(--font-secondary), sans-serif;
      font-weight: 500;
      font-size: 16px;

      /* desktop */
      @media (width >= 960px) {
        margin-top: 26px;
        font-size: 24px;
        max-width: 80%;
      }

      /* widescreen */
      @media (width >= 1200px) {
        margin-top: var(--space32);
        font-size: 28px;
      }
    }

    & .more-than__body {
      --slide-width: min(80vw, 360px);

      position: relative;
      margin-top: var(--space40);
      width: 100vw;
      margin-left: calc(50% - 50vw);
      overflow: clip;

      /* desktop */
      @media (width >= 960px) {
        --slide-width: 427px;

        margin-top: 60px;
      }

      /* widescreen */
      @media (width >= 1200px) {
        margin-top: 78px;
      }

      .swiper {
        position: relative;
        overflow: visible;

        &::before {
          content: "";
          position: absolute;
          bottom: var(--space8);
          left: 50%;
          transform: translateX(-50%);
          width: 50%;
          height: 5px;
          border-radius: 4px;
          background-color: var(--color-text-primary);
          pointer-events: none;
          z-index: 2;
          opacity: 1;
        }

        .more-than__pagination {
          --bg: rgba(255, 255, 255, 0.4);
          --bg-active: rgba(255, 255, 255, 1);

          position: absolute;
          top: 6px;
          left: 50%;
          transform: translateX(-50%);
          width: calc(var(--slide-width) - 12px);
          z-index: 2;
          display: flex;
          gap: 3px;

          button {
            background: none;
            border: none;
            font-size: 0;
            flex-grow: 1;
            display: flex;
            align-items: center;
            padding: var(--space16) 2px;
            cursor: pointer;

            &.active span::before {
              transform: scaleX(var(--progress));
            }

            &.active ~ button {
              span::before {
                transform: scaleX(0);
              }
            }

            span {
              position: relative;
              width: 100%;
              height: 2px;
              overflow: hidden;
              background-color: var(--bg);
              border-radius: 2px;
              transition: background-color var(--transition);

              &::before {
                content: "";
                position: absolute;
                top: 0;
                left: 0;
                width: 100%;
                height: 100%;
                transform: scaleX(1);
                transform-origin: left;
                background-color: var(--bg-active);
                transition: transform var(--transition);
              }

              &::after {
                content: "";
                position: absolute;
                top: 0;
                left: 0;
                width: 100%;
                height: 100%;
                background-color: var(--color-primary);
                opacity: 0;
                transition: opacity var(--transition);
              }
            }

            @media (hover: hover) {
              &:hover {
                span::after {
                  opacity: 1;
                }
              }
            }
          }
        }
      }
    }

    & .swiper-slide {
      width: var(--slide-width);
      z-index: 0;
      opacity: 0;
      pointer-events: none;
      transition: opacity 350ms ease;

      &.is-more-than-slide-active,
      &.is-more-than-slide-prev,
      &.is-more-than-slide-next,
      &.is-more-than-slide-before,
      &.is-more-than-slide-after {
        opacity: 1;
        pointer-events: auto;

        .more-than__slide {
          will-change: transform;
        }
      }

      &.is-more-than-slide-active {
        z-index: 5;

        .more-than__slide {
          --slide-offset-x: 0px;
          --slide-offset-y: 0px;
          --slide-scale: 1;
        }
      }

      &.is-more-than-slide-prev,
      &.is-more-than-slide-next {
        z-index: 4;
      }

      &.is-more-than-slide-before,
      &.is-more-than-slide-after {
        z-index: 3;
      }

      &.is-more-than-slide-prev .more-than__slide {
        --slide-offset-x: -62px;
        --slide-offset-y: 100px;
        --slide-scale: 0.716;
      }

      &.is-more-than-slide-next .more-than__slide {
        --slide-offset-x: 62px;
        --slide-offset-y: 100px;
        --slide-scale: 0.716;
      }

      &.is-more-than-slide-before .more-than__slide {
        --slide-offset-x: -46px;
        --slide-offset-y: 156px;
        --slide-scale: 0.568;
      }

      &.is-more-than-slide-after .more-than__slide {
        --slide-offset-x: 46px;
        --slide-offset-y: 156px;
        --slide-scale: 0.568;
      }

      &.is-more-than-slide-prev .more-than__slide-content,
      &.is-more-than-slide-next .more-than__slide-content,
      &.is-more-than-slide-before .more-than__slide-content,
      &.is-more-than-slide-after .more-than__slide-content {
        border-radius: 35px;
      }

      @media (width < 960px) {
        &.is-more-than-slide-prev .more-than__slide,
        &.is-more-than-slide-next .more-than__slide {
          --slide-offset-x: 0px;
          --slide-offset-y: 42px;
          --slide-scale: 0.78;
        }

        &.is-more-than-slide-before .more-than__slide,
        &.is-more-than-slide-after .more-than__slide {
          --slide-offset-y: 72px;
          --slide-scale: 0.62;
        }
      }
    }

    & .more-than__slide {
      --slide-offset-x: 0px;
      --slide-offset-y: 180px;
      --slide-scale: 0.42;

      display: flex;
      justify-content: center;
      width: var(--slide-width);
      aspect-ratio: 427 / 759;
      transform: translate(var(--slide-offset-x), var(--slide-offset-y))
        scale(var(--slide-scale));
      transform-origin: center top;
      transition: transform 600ms var(--timing-func);

      & .more-than__slide-content {
        position: relative;
        width: 100%;
        height: 100%;
        overflow: hidden;
        cursor: grab;
        background-color: var(--color-bg-main);
        border-radius: 40px;
        transition: border-radius 600ms var(--timing-func);

        &:active {
          cursor: grabbing;
        }

        & .more-than__slide-title {
          position: absolute;
          bottom: 0;
          left: 0;
          width: 100%;
          height: auto;
          aspect-ratio: 365 / 173;
          background-image: linear-gradient(
            180deg,
            rgba(0, 0, 0, 0) 0%,
            #000000 57.87%
          );
          display: flex;
          justify-content: center;
          align-items: flex-end;
          padding: var(--space40) var(--space20);
          pointer-events: none;

          p {
            font-weight: 500;
            font-size: 16px;
            text-align: center;
          }
        }
      }

      & .more-than__slide-image,
      & .more-than__slide-video {
        width: 100%;
        height: 100%;

        img,
        video {
          display: block;
          width: 100%;
          height: 100%;
          object-fit: cover;
        }
      }

      & .more-than__slide-video {
        position: relative;
      }
    }

    @media (prefers-reduced-motion: reduce) {
      & .swiper-slide,
      & .more-than__slide,
      & .more-than__slide-content {
        transition-duration: 1ms;
      }
    }
  }
</style>
