---
import { Image } from "astro:assets";
import Title from "../../../components/title.astro";
import Container from "../../../components/container.astro";
import star1 from "./assets/star-1.webp";
import star2 from "./assets/star-2.webp";
import slide2Img from "./assets/story-2.webp";
import slide5Img from "./assets/story-5.webp";
import slide6Img from "./assets/story-6.webp";
import slide8Img from "./assets/story-8.webp";
import slide9Img from "./assets/story-9.webp";
import slide11Img from "./assets/story-11.webp";
import slide12Img from "./assets/story-12.webp";
import { getVideoSrc } from "../../../utils/getVideoSrc.ts";

interface ISlide {
  title?: string;
}
interface ISlideImage extends ISlide {
  src: ImageMetadata;
}
interface ISlideVideo extends ISlide {
  src: string;
  poster?: string;
}

const checkIsVideo = (item: ISlideImage | ISlideVideo): item is ISlideVideo => {
  return typeof item.src === "string";
};

const slides: (ISlideImage | ISlideVideo)[] = [
  {
    title: "8 марта",
    src: getVideoSrc("story-1"),
  },
  {
    title: "14 февраля",
    src: slide2Img,
  },
  {
    title: "Drop Store Запуск магазина мерча бизнес-группы",
    src: getVideoSrc("story-3"),
  },
  {
    title: "ВК Фест 2025",
    src: getVideoSrc("story-4"),
  },
  {
    title: "Афтепати ВК Фест 2025",
    src: slide5Img,
  },
  {
    title: "Гаражная распродажа Дзен",
    src: slide6Img,
  },
  {
    title: "День рождение Музыки",
    src: getVideoSrc("story-7"),
  },
  {
    title: "День рождение Одноклассников",
    src: slide8Img,
  },
  {
    title: "Новый год 2026",
    src: slide9Img,
  },
  {
    title: "Новый год Дзен",
    src: getVideoSrc("story-10"),
  },
  {
    title: "Привет, босс",
    src: slide11Img,
  },
  {
    title: "Привет, команда",
    src: slide12Img,
  },
  {
    title: "Что? Где? Когда?",
    src: getVideoSrc("story-12_5"),
  },
  {
    title: "ИТ неделя",
    src: getVideoSrc("story-13"),
  },
  {
    title: "Фандом фест",
    src: getVideoSrc("story-14"),
  },
  {
    title: "Благотворительная ярмарка",
    src: getVideoSrc("story-15"),
  },
  {
    title: "День рождения ВКонтакте",
    src: getVideoSrc("story-16"),
  },
  {
    title: "Книжный клуб",
    src: getVideoSrc("story-17"),
  },
  {
    title: "Пятничная встреча",
    src: getVideoSrc("story-18"),
  },
];
---

<section class="more-than" aria-labelledby="more-than-title">
  <div class="more-than__bg"></div>
  <Container>
    <div class="more-than__head">
      <Title title="h3" id="more-than-title">
        <span class="more-than__title">
          Команда&nbsp;— это&nbsp;больше, чем&nbsp;про&nbsp;работу
        </span>
      </Title>
      <p class="more-than__description">
        Праздники, тимбилдинги, события и даже хобби — нас объединяют не только
        общие задачи
      </p>
    </div>

    <div class="more-than__body" data-reveal>
      <div class="swiper js-more-than-swiper">
        <div class="more-than__pagination">
          {
            slides.map((_, index) => (
              <button
                type="button"
                class:list={[index === 0 && "active"]}
                data-index={index}
              >
                <span>{index}</span>
              </button>
            ))
          }
        </div>

        <div class="swiper-wrapper">
          {
            slides.map((item) => {
              const isVideo = checkIsVideo(item);

              return (
                <div
                  class="swiper-slide"
                  data-media={isVideo ? "video" : "image"}
                >
                  <div class="more-than__slide">
                    <div class="more-than__slide-content">
                      {isVideo ? (
                        <div class="more-than__slide-video">
                          <video
                            src={item.src}
                            poster={item.poster}
                            title={item?.title}
                            preload="metadata"
                          />
                        </div>
                      ) : (
                        <div class="more-than__slide-image">
                          <Image src={item.src} alt={item?.title ?? ""} />
                        </div>
                      )}

                      <div class="more-than__slide-title">
                        {item?.title && <p>{item.title}</p>}
                      </div>
                    </div>
                  </div>
                </div>
              );
            })
          }
        </div>
      </div>

      <div class="decor">
        <div class="decor__first">
          <Image src={star1} width={120} height={122} alt="" />
        </div>
        <div class="decor__second">
          <Image src={star2} width={123} height={125} alt="" />
        </div>
      </div>
    </div>
  </Container>
</section>

<style>
  .more-than {
    position: relative;
    margin-top: var(--space24);

    @media (width >= 960px) {
      margin-top: calc(-1 * var(--space32));
    }

    /* widescreen */
    @media (width >= 1200px) {
      margin-top: 0;
    }

    &:has(.more-than__body.active) .more-than__bg {
      opacity: 0;
      transform: translateY(20vw);
    }

    & .more-than__bg {
      position: absolute;
      aspect-ratio: 360 / 255;
      width: 100%;
      height: auto;
      bottom: 17vw;
      left: 0;
      z-index: 1;
      background-image: url("./assets/mobile.svg");
      background-repeat: no-repeat;
      background-position: center;
      background-size: cover;
      pointer-events: none;
      transform: translateY(0);
      transition:
        opacity calc(2 * var(--transition-long)) ease-in-out,
        transform calc(2 * var(--transition-long)) ease-in-out;

      @media (width >= 960px) {
        bottom: -10vw;
        aspect-ratio: 960 / 429;
        background-image: url("./assets/desktop.svg");
      }

      @media (width >= 1200px) {
        bottom: -19vw;
        aspect-ratio: 1200 / 647;
        background-image: url("./assets/widescreen.svg");
      }
    }

    & .more-than__title {
      letter-spacing: -0.5px;

      @media (width >= 960px) {
        letter-spacing: -1.5px;
      }

      /* widescreen */
      @media (width >= 1200px) {
        letter-spacing: 0;
      }
    }

    & .more-than__description {
      margin-top: var(--space20);
      font-family: var(--font-secondary), sans-serif;
      font-weight: 500;
      font-size: 16px;

      /* desktop */
      @media (width >= 960px) {
        margin-top: 26px;
        font-size: 24px;
        max-width: 80%;
      }

      /* widescreen */
      @media (width >= 1200px) {
        margin-top: var(--space32);
        font-size: 28px;
      }
    }

    & .more-than__body {
      --width: 320px;

      position: relative;
      margin-top: var(--space40);
      transform-origin: 50% 25%;
      transform: scale(0.6);
      transition: transform calc(2 * var(--transition-long)) ease-in-out;

      /* tablet */
      @media (width >= 768px) {
        --width: 360px;
      }

      /* desktop */
      @media (width >= 960px) {
        transform: scale(0.8);
        margin-top: 60px;
      }

      /* widescreen */
      @media (width >= 1200px) {
        margin-top: 78px;
      }

      .swiper {
        position: relative;
        max-width: var(--width);
        aspect-ratio: 360 / 640;
        border-radius: 28px;

        &::before {
          content: "";
          position: absolute;
          bottom: var(--space8);
          left: 50%;
          transform: translateX(-50%);
          width: 50%;
          height: 5px;
          border-radius: 4px;
          background-color: var(--color-text-primary);
          pointer-events: none;
          z-index: 2;
          opacity: 0;
          transition: opacity var(--transition-long);
        }

        .more-than__pagination {
          --bg: rgba(255, 255, 255, 0.4);
          --bg-active: rgba(255, 255, 255, 1);

          position: absolute;
          top: 6px;
          left: 6px;
          width: calc(100% - 12px);
          z-index: 2;
          display: flex;
          gap: 3px;

          button {
            background: none;
            border: none;
            font-size: 0;
            flex-grow: 1;
            display: flex;
            align-items: center;
            padding: var(--space16) 2px;
            cursor: pointer;

            &.active span::before {
              transform: scaleX(var(--progress));
            }

            &.active ~ button {
              span::before {
                transform: scaleX(0);
              }
            }

            span {
              position: relative;
              width: 100%;
              height: 2px;
              overflow: hidden;
              background-color: var(--bg);
              border-radius: 2px;
              transition: background-color var(--transition);

              &::before {
                content: "";
                position: absolute;
                top: 0;
                left: 0;
                width: 100%;
                height: 100%;
                transform: scaleX(1);
                transform-origin: left;
                background-color: var(--bg-active);
                transition: transform var(--transition);
              }

              &::after {
                content: "";
                position: absolute;
                top: 0;
                left: 0;
                width: 100%;
                height: 100%;
                background-color: var(--color-primary);
                opacity: 0;
                transition: opacity var(--transition);
              }
            }

            @media (hover: hover) {
              &:hover {
                span::after {
                  opacity: 1;
                }
              }
            }
          }
        }
      }

      .decor {
        position: absolute;
        top: 0;
        left: 50%;
        transform: translate(-50%);
        width: 100%;
        height: 100%;
        max-width: var(--width);
        aspect-ratio: 360 / 640;
        z-index: 1;

        & .decor__first {
          position: absolute;
          top: 110px;
          right: -74px;
          z-index: 10;
          transition: transform var(--transition-long);

          img {
            animation: more-than-star-float 3.4s ease-in-out infinite alternate;
            transform-origin: 50% 50%;
            will-change: transform;
          }
        }

        & .decor__second {
          position: absolute;
          top: 220px;
          left: -88px;
          z-index: 10;
          transition: transform var(--transition-long);

          img {
            animation: more-than-star-float 3.8s ease-in-out infinite
              alternate-reverse;
            animation-delay: 1.4s;
            transform-origin: 50% 50%;
            will-change: transform;
          }
        }
      }

      &.active {
        transform: scale(1);

        .swiper {
          &::before {
            opacity: 1;
          }

          &::after {
            opacity: 0;
          }
        }

        .decor {
          pointer-events: none;

          & .decor__first {
            transform: scale(0);
          }

          & .decor__second {
            transform: scale(0);
          }
        }
      }
    }

    & .more-than__slide {
      display: flex;
      justify-content: center;
      height: 100%;

      & .more-than__slide-content {
        position: relative;
        overflow: hidden;
        cursor: grab;
        background-color: var(--color-bg-main);

        &:active {
          cursor: grabbing;
        }

        & .more-than__slide-title {
          position: absolute;
          bottom: 0;
          left: 0;
          width: 100%;
          height: auto;
          aspect-ratio: 365 / 173;
          background-image: linear-gradient(
            180deg,
            rgba(0, 0, 0, 0) 0%,
            #000000 57.87%
          );
          display: flex;
          justify-content: center;
          align-items: flex-end;
          padding: var(--space40) var(--space20);
          pointer-events: none;

          p {
            font-weight: 500;
            font-size: 16px;
            text-align: center;
          }
        }
      }

      & .more-than__slide-image,
      & .more-than__slide-video {
        height: 100%;

        img,
        video {
          display: block;
          width: 100%;
          height: 100%;
          object-fit: cover;
        }
      }

      & .more-than__slide-video {
        position: relative;
      }
    }
  }

  @keyframes more-than-star-float {
    from {
      transform: translateY(-8px) rotate(-3deg);
    }

    to {
      transform: translateY(8px) rotate(3deg);
    }
  }
</style>
