---
import Link from "../../components/link.astro";
export interface ICard {
  title: string;
  description: string;
  isShortDesc?: boolean;
  bg: {
    image: ImageMetadata;
    position: string;
    positionDesktop?: string;
    positionWidescreen?: string;
    size: string;
    sizeDesktop?: string;
    sizeWidescreen?: string;
  };
  links: { href: string; label: string }[];
}

interface Props {
  card: ICard;
}

const { card } = Astro.props;
const { title, description, isShortDesc = false, bg, links } = card;
const bgStyle = {
  "--card-bg-image": `url("${bg.image.src}")`,
  "--card-bg-position": bg.position,
  "--card-bg-position-desktop": bg.positionDesktop ?? bg.position,
  "--card-bg-position-widescreen":
    bg.positionWidescreen ?? bg.positionDesktop ?? bg.position,
  "--card-bg-size": bg.size,
  "--card-bg-size-desktop": bg.sizeDesktop ?? bg.size,
  "--card-bg-size-widescreen": bg.sizeWidescreen ?? bg.sizeDesktop ?? bg.size,
};
---

<article class="card" data-useful-card>
  <div class="card__bg" style={bgStyle}></div>
  <h4>{title}</h4>
  <p class:list={[isShortDesc && "is-short"]}>{description}</p>
  <ul class="card__links">
    {
      links.map(({ href, label }) => (
        <li>
          <Link href={href} target="_blank">
            {label}
          </Link>
        </li>
      ))
    }
  </ul>
</article>

<style>
  .card {
    position: relative;
    aspect-ratio: 328 / 208;
    display: flex;
    flex-direction: column;
    border-radius: var(--border-radius20);
    padding: 16px 18px 18px;
    background-color: #1e1e1e;
    overflow: hidden;

    /* desktop */
    @media (width >= 960px) {
      padding: 30px 24px 24px;
      border-radius: 32px;
      aspect-ratio: 328 / 218;
    }

    /* widescreen */
    @media (width >= 1200px) {
      aspect-ratio: 328 / 173;
    }

    &::before {
      content: "";
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background-image: linear-gradient(180deg, #000000 0%, #0062ff 100%);
    }

    &::after {
      content: "";
      position: absolute;
      top: calc(100% - 72px);
      left: 50%;
      transform: translate(-50%);
      width: 16500px;
      height: 16900px;
      background: radial-gradient(
        14.39% 4.94% at 51.32% 7.85%,
        rgba(1, 56, 146, 0) 72.04%,
        #f3f8ff 92.3%,
        #d7e6ff 95.9%
      );
      border: 50px solid #0162ff;
      filter: blur(80px);
    }

    & .card__bg {
      content: "";
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background-image: var(--card-bg-image);
      background-repeat: no-repeat;
      background-position: var(--card-bg-position);
      background-size: var(--card-bg-size);
      z-index: 1;

      /* desktop */
      @media (width >= 960px) {
        background-position: var(--card-bg-position-desktop);
        background-size: var(--card-bg-size-desktop);
      }

      /* widescreen */
      @media (width >= 1200px) {
        background-position: var(--card-bg-position-widescreen);
        background-size: var(--card-bg-size-widescreen);
      }
    }

    h4 {
      position: relative;
      font-weight: 400;
      font-size: 16px;
      letter-spacing: -0.4px;
      z-index: 1;

      /* desktop */
      @media (width >= 960px) {
        font-size: 24px;
      }

      /* widescreen */
      @media (width >= 1200px) {
        font-size: 26px;
      }
    }

    p {
      position: relative;
      margin-top: 6px;
      margin-bottom: 34px;
      font-family: var(--font-secondary), sans-serif;
      font-weight: 500;
      font-size: 12px;
      line-height: 110%;
      text-transform: lowercase;
      z-index: 1;

      &.is-short {
        max-width: 76%;

        /* widescreen */
        @media (width >= 1200px) {
          max-width: 70%;
        }
      }

      /* desktop */
      @media (width >= 960px) {
        font-size: 16px;
        margin-top: var(--space12);
      }

      /* widescreen */
      @media (width >= 1200px) {
        margin-top: var(--space20);
      }
    }

    & .card__links {
      position: relative;
      list-style: none;
      padding: 0;
      margin-top: auto;
      margin-bottom: 0;
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      gap: var(--space8) 10px;
      direction: rtl;
      z-index: 1;

      li {
        direction: ltr;
      }
    }
  }
</style>
